<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mondelavictoria.happy_kids_reading">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayActivity" />
        <activity android:name=".Home" />
        <activity android:name=".Slider" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Alphabet_Letters" />
        <activity android:name=".SpeechToRead" />
        <activity android:name=".Animal_Name" />
        <activity android:name=".CoverFlow" />
        <activity android:name=".Counting_Number" />
        <activity android:name=".Puzzle_Game" />
        <activity android:name=".Drag_Drop_Game" />
        <activity android:name=".Word_Save" />
        <activity android:name=".Mathino_Kids" />
        <activity android:name=".SwipeWord" />
        <activity android:name=".ShapeGame" />
        <activity android:name=".SodukoGame" />
        <activity android:name=".SodukoPuzzle"></activity>
    </application>

</manifest>